name: CI/CD Pipeline

on:
  push:
    branches: [ deploy ]     # деплой-код пушимо в deploy
  pull_request:
    branches: [ main ]       # PR і тести залишаються по main

jobs:
  test:
    runs-on: ubuntu-22.04
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Build and start services
      run: |
        docker compose -f docker-compose.yml up --build -d
    
    - name: Wait for services to initialize
      run: sleep 20
    
    - name: Check database
      run: docker compose exec -T database pg_isready -U myuser -d mydb
    
    - name: Check frontend availability
      run: curl -f http://localhost:80 || exit 1
    
    - name: Check backend availability
      run: curl -f http://localhost:10500/health || exit 1
    
    - name: Cleanup
      if: always()
      run: docker compose down -v


  deploy:
    needs: test                       # виконується тільки після успішного test
    runs-on: ubuntu-22.04
    if: github.ref == 'refs/heads/deploy' && github.event_name == 'push'

    steps:
    - name: Checkout
      uses: actions/checkout@v5

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Configure Docker for Artifact Registry
      run: |
        gcloud auth configure-docker ${GCP_REGION}-docker.pkg.dev

    - name: Build docker images
      run: |
        docker build -t ${GCP_REGION}-docker.pkg.dev/${GCP_PROJECT}/${GCP_REPOSITORY}/frontend:latest ./frontend
        docker build -t ${GCP_REGION}-docker.pkg.dev/${GCP_PROJECT}/${GCP_REPOSITORY}/backend:latest ./backend

    - name: Push docker images
      run: |
        docker push ${GCP_REGION}-docker.pkg.dev/${GCP_PROJECT}/${GCP_REPOSITORY}/frontend:latest
        docker push ${GCP_REGION}-docker.pkg.dev/${GCP_PROJECT}/${GCP_REPOSITORY}/backend:latest